@import 'variables';

.App {
    table.result {
        margin: 1rem auto !important;
        table-layout: fixed;

        th, td {
            @include ellipsis;

            &:not(:first-child) {
                width: 20%;
            }
        }

        th:not(:first-child) {
            text-align: center;
        }

        td:not(:first-child) {
            text-align: right;
            font-family: monospace;
            font-size: 100%;
        }
    }

    @media only screen and (max-width: 767px) {
        .ui.container.result {
            width: 100% !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}